body {
  
}

h2 {
  font-size:10px;
}

h3 {
  font-size:8px;
}

h2::first-letter {
  text-transform: uppercase;
}

.container  {
  margin-top:1em;
}

.divifont {
  color:red;
}

.navbar-brand {
  color:white;
}